<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input CPU!">
        <nz-input-group>
          <input formControlName="CPU" type="number" nz-input placeholder="CPU" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input MEM!">
        <nz-input-group>
          <input formControlName="MEM" type="number" nz-input placeholder="MEM"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">提交</button>
      </nz-form-control>
    </nz-form-item>
</form>