<p>account works!</p>


这一页画一个账户的列表。


<nz-card>
    <nz-table #basicTable [nzData]="listOfData">
        <thead>
            <tr>
                <th>账户地址</th>
                <th>密码</th>
                <th>FaaS Token 余额</th>
                <th>其他字段</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ data.address }}</td>
                <td>{{ data.password }}</td>
                <td>{{ data.balanceOf }}</td>
                <td> - </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>