<button (click)="goBack()">
    <span>返回</span>
</button>

<div nz-row [nzGutter]="24" class="pt-lg">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
        <nz-card>
            <nz-descriptions nzTitle="详细信息" nzBordered>

                <nz-descriptions-item nzTitle="账户地址">
                    {{account.address}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="密码" [nzSpan]="2">
                    {{account.password}}
                </nz-descriptions-item>

                <nz-descriptions-item nzTitle="ETH">
                    00.00
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="FaaS Token" [nzSpan]="2">
                    0
                </nz-descriptions-item>



                <nz-descriptions-item nzTitle="是否为证人（二选一）">
                    <span>否</span>
                    <button nz-button nzType="primary">
                        <span>注册</span>
                    </button>
                    <br />
                    <span>是</span>
                    <button nz-button nzType="primary">
                        <span>注销</span>
                    </button>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="证人状态（三选一）">
                    <nz-badge nzStatus="default" nzText="离线"></nz-badge>
                    <button nz-button nzType="primary">
                        <span>上线</span>
                    </button>
                    <br />
                    <nz-badge nzStatus="success" nzText="在线"></nz-badge>
                    <button nz-button nzType="primary">
                        <span>下线</span>
                    </button>
                    <br />
                    <nz-badge nzStatus="processing" nzText="忙碌"></nz-badge>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="证人收益">
                    0
                    <button nz-button nzType="primary">
                        <span>提取</span>
                    </button>
                </nz-descriptions-item>


                <nz-descriptions-item nzTitle="是否为供应商（二选一）">
                    <span>否</span>
                    <button nz-button nzType="primary">
                        <span>注册</span>
                    </button>
                    <br />
                    <span>是</span>
                    <button nz-button nzType="primary">
                        <span>注销</span>
                    </button>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="供应商状态（二选一）" [nzSpan]="2">
                    <nz-badge nzStatus="default" nzText="未服务"></nz-badge>
                    <button nz-button nzType="primary">
                        <span>启动服务</span>
                    </button>
                    <br />
                    <nz-badge nzStatus="processing" nzText="服务中"></nz-badge>
                    <button nz-button nzType="primary">
                        <span>停止服务</span>
                    </button>
                </nz-descriptions-item>


                <nz-descriptions-item nzTitle="其他信息">
                    我有一只小毛驴
                    <br />
                    我有一只小毛驴
                    <br />
                    我有一只小毛驴
                    <br />
                    我有一只小毛驴
                </nz-descriptions-item>

            </nz-descriptions>
        </nz-card>
    </div>
</div>