<button (click)="goBack()">
    <span>返回</span>
</button>

<div nz-row [nzGutter]="24" class="pt-lg">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
        <nz-card>
            <nz-descriptions nzTitle="详细信息" nzBordered>


                <nz-descriptions-item nzTitle="账户地址" [nzSpan]="2">
                    {{account.address}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="密码">
                    {{account.password}}
                </nz-descriptions-item>

                <nz-descriptions-item nzTitle="FaaS Token" [nzSpan]="2">
                    {{account.balanceOf}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="ETH">
                    {{account.eth}}
                </nz-descriptions-item>



                <nz-descriptions-item nzTitle="是否为证人">
                    <!-- 文档 https://angular.cn/api/common/NgIf -->
                    <div *ngIf="account.isWitness; then yesWitness else noWitness"></div>
                    <ng-template #yesWitness>
                        <span>是</span>
                        <button nz-button nzType="primary" (click)="onWitnessLogout()">
                            <span>注销</span>
                        </button>
                    </ng-template>
                    <ng-template #noWitness>
                        <span>否</span>
                        <button nz-button nzType="primary" (click)="onWitnessLogin()">
                            <span>注册</span>
                        </button>
                    </ng-template>
                </nz-descriptions-item>

                <nz-descriptions-item nzTitle="证人状态">
                    <container-element [ngSwitch]="account.witnessState">
                        <some-element *ngSwitchCase="'offline'">
                            <nz-badge nzStatus="default" nzText="离线"></nz-badge>
                            <button nz-button nzType="primary" (click)="onWitnessOnline()">
                                <span>上线</span>
                            </button>
                        </some-element>
                        <some-element *ngSwitchCase="'online'">
                            <nz-badge nzStatus="success" nzText="在线"></nz-badge>
                            <button nz-button nzType="primary" (click)="onWitnessOffline()">
                                <span>下线</span>
                            </button>
                        </some-element>
                        <some-element *ngSwitchCase="'busy'">
                            <nz-badge nzStatus="processing" nzText="忙碌"></nz-badge>
                        </some-element>
                        <some-element *ngSwitchDefault>
                            <span>错误状态</span>
                        </some-element>
                    </container-element>
                </nz-descriptions-item>

                <nz-descriptions-item nzTitle="证人收益">
                    <button nz-button nzType="primary">
                        <span>提取</span>
                    </button>
                </nz-descriptions-item>


                <nz-descriptions-item nzTitle="是否为供应商">
                    <div *ngIf="account.isProvider; then yesProvider else noProvider"></div>
                    <ng-template #yesProvider>
                        <span>是</span>
                        <button nz-button nzType="primary" (click)="onProviderLogout()">
                            <span>注销</span>
                        </button>
                    </ng-template>
                    <ng-template #noProvider>
                        <span>否</span>
                        <button nz-button nzType="primary" (click)="onProviderLogin()">
                            <span>注册</span>
                        </button>
                    </ng-template>
                </nz-descriptions-item>

                <nz-descriptions-item nzTitle="供应商状态" [nzSpan]="2">

                    <container-element [ngSwitch]="account.providerState">
                        <some-element *ngSwitchCase="'offline'">
                            <nz-badge nzStatus="default" nzText="未服务"></nz-badge>
                            <button nz-button nzType="primary" (click)="onProviderOnline()">
                                <span>启动服务</span>
                            </button>
                        </some-element>
                        <some-element *ngSwitchCase="'online'">
                            <nz-badge nzStatus="processing" nzText="服务中"></nz-badge>
                            <button nz-button nzType="primary" (click)="onProviderOffline()">
                                <span>停止服务</span>
                            </button>
                        </some-element>
                        <some-element *ngSwitchDefault>
                            <span>错误状态</span>
                        </some-element>
                    </container-element>
                </nz-descriptions-item>


                <nz-descriptions-item nzTitle="其他信息">
                    {{account.otherInfo}}
                </nz-descriptions-item>

            </nz-descriptions>
        </nz-card>
    </div>
</div>