<button nz-button (click)="openDrawer()" nzType="primary">
    <span>新建本地账户</span>
</button>

<nz-drawer [nzMaskClosable]="false" [nzVisible]="drawerVisible" nzPlacement="top" nzTitle="新建本地账户"
    (nzOnClose)="onCancled()">

    <form nz-form [formGroup]="createAccountForm" (ngSubmit)="onCreated()">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入密码！">
                <nz-input-group nzPrefixIcon="lock" [nzSuffix]="passwordSuffixTemplate">
                    <input formControlName="password" [type]="passwordVisible ? 'text' : 'password'" nz-input
                        placeholder="请输入密码" />
                </nz-input-group>
                <ng-template #passwordSuffixTemplate>
                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible = !passwordVisible"></i>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary" type="submit">
                    新建
                </button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-drawer>