<div nz-row [nzGutter]="24" class="pt-lg">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
        <nz-card>
            <app-faaslevel-creater (created)="onCreated()"></app-faaslevel-creater>
        </nz-card>
    </div>
</div>

<div nz-row [nzGutter]="24" class="pt-lg">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
        <nz-card>
            <nz-table #faaslevelTable [nzData]="listOfFaaSLevel">
                <thead>
                    <tr>
                        <th>FaaS Level ID</th>
                        <th>CPU 核心数</th>
                        <th>使用内存</th>
                        <th>其他字段</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let faaslevel of faaslevelTable.data">
                        <td>{{ faaslevel.id }}</td>
                        <td>{{ faaslevel.cpu }}</td>
                        <td>{{ faaslevel.mem }}</td>
                        <td> - </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>