<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <!-- Logo -->
    <div class="sidebar-logo">

      <!-- <a href="/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
      </a> -->

      <a href="//github.com/kitchent/defaas" target="_blank">
        <i nz-icon nzType="github"></i>
        <h1>DeFaaS 平台</h1>
      </a>

    </div>

    <!-- 菜单 -->
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <!-- 信息 -->
      <li nz-submenu nzOpen nzTitle="信息" nzIcon="cloud">
        <ul>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">欢迎</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/account">本地账户</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/faaslevel">FaaS 规格</a>
          </li>

        </ul>
      </li>

      <!-- 控制台 -->
      <li nz-submenu nzOpen nzTitle="FaaS 控制台" nzIcon="code">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/funccode"> 函数代码</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/funcsvc"> 函数部署</a>
          </li>
        </ul>
      </li>

      <!-- 帮助 -->
      <li nz-submenu nzOpen nzTitle="帮助" nzIcon="bulb">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/user-manual">用户手册</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a> API 文档</a>
          </li>
        </ul>
      </li>


    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>